body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: black;
  color: #fff !important;
}

.horror-page {
  text-align: center;
}

.horror-header {
  background-color: darkred;
  padding: 20px;
}

.horror-header h1 {
  font-size: 24px;
  margin: 0;
}

.horror-content {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.horror-content p {
  font-size: 18px;
  line-height: 1.6;
}

.horror-box {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  overflow: auto;
  height: calc(100vh - 160px);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

.horror-footer {
  background-color: darkred;
  padding: 10px;
}

.horror-footer p {
  margin: 0;
}

.horror-story-container {
  max-width: 70%;
  overflow: visible !important;
}
