@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: black;
  color: #fff;
  line-height: 100vh;
}

@keyframes squiggly-anim {
  0% {
    filter: url('#squiggly-0');
  }
  25% {
    filter: url('#squiggly-1');
  }
}

.horror-page {
  text-align: center;
}

.horror-header {
  display: flex;
  align-items: center;
  background-color: darkred;
  padding: 20px;
  font-family: 'Amatic SC', sans-serif;
  & h1 {
    font-size: 3rem;
    animation: squiggly-anim 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
    width: 100%;
    outline: none;
    text-align: center;
  }
}

.horror-content {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  padding: 20px;
  background-color: black;
  & .spinner {
    position: absolute;
    top: 50%;
    height: 100vh;
  }
}

.horror-content p {
  font-size: 18px;
  line-height: 1.6;
}

.horror-box {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  overflow: auto;
  height: calc(100vh - 196px);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

.horror-footer {
  background-color: darkred;
  padding: 10px;
}

.horror-footer p {
  margin: 0;
}

@media only screen and (min-width: 993px) {
  .horror-story-container {
    max-width: 70%;
  }
}
@media only screen and (max-width: 992px) {
  .horror-story-container {
    max-width: 95%;
  }
}
.horror-story-container {
  z-index: 2;
  overflow: visible !important;
}
